<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>Equipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query2</servlet-name>
        <servlet-class>Alta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query3</servlet-name>
        <servlet-class>Baja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query4</servlet-name>
        <servlet-class>Modificacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query2</servlet-name>
        <url-pattern>/Query2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query3</servlet-name>
        <url-pattern>/Query3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query4</servlet-name>
        <url-pattern>/Query4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
